<div id="SLIDE_BGMH" class="mobileHide">
  <%= image_tag "logowhitebanner.svg", style: "height: 128px; position: absolute; margin-top: -27rem;" %>
  <div class="hoverbtn" style="margin-bottom:80px;">
    <a href="tel:+212674035044" class="btn btn-light" style="font-size:1.5rem; margin-right: 12px; width: 12rem; border-radius: 50px; color: #1C5B73; font-weight: 200;" >Réservez</a>
    <%= link_to t(".menu", default: "Menu"), menu_path, class: "btn", style:"font-size:1.5rem; margin-left: 12px; border: 1px solid #FFF; border-radius: 50px; width: 12rem; color: #FFF; font-weight: 200;" %>
    <%# <%= link_to t(".contact", default: "Réservations"), contact_path, class: "btn btn-white" %>
  </div>
</div>
<div id="SLIDE_BG" class="mobileShow">
  <div class="hoverbtn" style="margin-bottom:72px;">
    <a href="tel:+212674035044" class="btn btn-light" style="font-size:1rem; margin-right: 12px; width: 8rem; border-radius: 50px; color: #1C5B73; font-weight: 200;" >Réservez</a>
    <a class= "btn" style="font-size:1rem; margin-left: 12px; border: 1px solid #FFF; border-radius: 50px; width: 8rem; color: #FFF; font-weight: 200;" href="/assets/menu-4a10aaac86de684cbf22c6acf9bdc71422d39adec4a2578b45fa5033bc94eadb.pdf" style="color: #1C5B73; text-decoration:none;" download>Menu </a>
    <%# <%= link_to t(".menu", default: "Menu"), menu_path, class: "btn", style:"font-size:1rem; margin-left: 12px; border: 1px solid #FFF; border-radius: 50px; width: 8rem; color: #FFF; font-weight: 200;" %>
    <%# <%= link_to t(".contact", default: "Réservations"), contact_path, class: "btn btn-white" %>
  </div>
</div>
<div>
    <%= image_tag "banner360.svg", style:"width:100%" %>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.4605930074918!2d-7.622554149275764!3d33.59335188063873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d29aee42e23b%3A0xb1fe1e800acc2b22!2s24%20Bd%20de%20Paris%2C%20Casablanca%2020000%2C%20Morocco!5e0!3m2!1sen!2ses!4v1655992387277!5m2!1sen!2ses" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
